<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor\autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="Miframework test suite">
            <directory suffix="Test.php">./pruebas</directory>
        </testsuite>
    </testsuites>
    <php>
      <const name="_ambiente_" value="test"/>
    </php>
</phpunit>
